<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <a href="./index.html">Home </a>
            <a href="OurServices.html">Our Services </a> 
            <a href="./Contactus.html">Contact us </a>
          </ul>
        </nav>
        <h1>Contact us</h1>
        <img src="./images/banner-formation.jpg" alt="formation"/>
        <h3>Nous sommes là pour vous renseigner, alors n’hésitez pas !</h3>
        <p> Vous souhaitez intégrer à notre école, c’est le moment de s’inscrire ! Téléchargez les dossiers d’inscription 2021-2022 et renvoyez le rempli avec les documents demandés.Dès la réception, nous prendrons contact avec vous pour vous proposer des dates d’entretien de motivation.
            Ce rendez-vous a aussi pour objet de vous accompagner dans votre orientation et de répondre à vos questions. A cette occasion, des tests de positionnement vous seront proposés. Ces tests n’ont pas besoin d’être préparés, ils nous permettront de mieux vous connaitre</p>
          
</body>

<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Nous Contacter</span>
      </div>
      <!-- Left -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>ECOLE DE FORMATION INFORMATIQUE
            </h6>
            <p>
                Si vous avez des questions , recommandations , ou besoin d'info supplémentaire, n'hézitez pas à nous contacter.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Rejoignez-nous
            </h6>
            <p><i class="fas fa-home me-3"></i> cité ennasim 2 mhamdia  Ben arous Tunis</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              ines_khazen@yahoo.fr
            </p>
            <p><i class="fas fa-phone me-3"></i> +216 96 546 266</p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" >ines_khazen@yahoo.fr</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->



</html>